<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <textarea class="message" id="messages"></textarea>
        <input type="text" class="input" name="title" placeholder="You message">
        <button class="button">send</button>
        <input type="text" class="name" id="name" placeholder="You name">
    
    </div>
<script src="/ajax.js"></script>
</body>
</html>